@charset "utf-8";
/* CSS Document */
p {
	color:#5E355D; 
	font-family: "Coiny";
	src:url("tekst/coiny-regular.ttf"); 
	font-size: 20px;
	width: 900px;
	padding: 10px; 
	background-color: lightpink;
}
h2{
	font-family: "Coiny";
	src:url("tekst/coiny-regular.ttf");
	font-size: 40px;
	color: deeppink;
	padding: 5px;
	background-color: lightgoldenrodyellow;
}
body{
	background-image: url("slike/Pink-Background-Aesthetic-Backgrounds-Free-Download-City-Morning.jpg"); 
	background-size: cover;
}
ol{
	color: deeppink; 
	font-family: "Coiny";
	src:url("tekst/coiny-regular.ttf");
	width: 600px;
	padding: 10px;
	background-color: lightpink;
}
ul{
	color: deeppink; 
	width: 600px;
	padding: 50px;
	background-color: lightpink;
	
}
a{
	color:palevioletred;
	padding: 5px; 
	background-color:#FFFBE3;
	font-size: 20px;
	font-family: "Coiny";
	src:url("tekst/coiny-regular.ttf");
	
}

a:hover{
	color: #7E2669;
	padding: 15px;
	background-color: #FFD0FB;
}
h1{
	font-family: "LauraCuric";
	src:url("tekst/Laura Curić final.ttf");
	color: palevioletred;
	font-size: 80px;
	padding: 50px;
	background-color: lightgoldenrodyellow
	
}
nav {
    display: block;
    unicode-bidi: isolate;
	font-family: "Coiny";
	src:url("tekst/coiny-regular.ttf");
}

li{
	display: inline; 
}

h3{
	font-family: "Coiny";
	src:url("tekst/coiny-regular.ttf");
	color: deeppink;
	padding: 5px;
	width: auto;
	height: auto;
	font-size: 15px;
	background-color: lightgoldenrodyellow;
}

figcaption{
	padding: 2px;
	color: palevioletred;
	background-color: lightgoldenrodyellow;
	width: 400px;
	font-family: "Coiny";
	src:url("tekst/coiny-regular.ttf");
	
}

.colum{
	float:left;
	width: 50%;
}

h4{
	font-family: "Coiny";
	src:url("tekst/coiny-regular.ttf");
	color: deeppink;
	padding: 5px;
	width: auto;
	height: auto;
	font-size: 25px;
	background-color: lightgoldenrodyellow;
}

@font-face{
	font-family: "LauraCuric";
	src:url("tekst/Laura Curić final.ttf");
	}

@font-face{
	font-family: "Coiny";
	src:url("tekst/coiny-regular.ttf");
}
	
